<section id="header">
    <a href=""><img src="" alt="logo"></a>

    <div>
        <ul id="navbar">
            <li><a href="">Inicio</a></li>
            <li><a href="">Perfil</a></li>
            <li><a href="">Logout</a></li>
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
    </div>

    <div id="menu">
        <i id="btn" class="fa-solid fa-bars"></i>
    </div>

</section>